%h1 Résultat de recherche

.subjects
  - @subjects.each do |subject|
    .subject.media
      = image_tag subject.illustration.url(:thumb), class: "pull-left"
      .media-body
        %h2.media-heading
          = link_to subject do
            = subject.title
        %p= truncate(strip_tags(subject.description), length: 200, separator: ' ')