%h1 A Propos

%p
  10ConseilsPour est une idée originale de Paul Gruson.
  %br
  L'idée de rassembler sur un site internet tous les bons conseils pour tous les sujets possibles et imaginables est venue en 2011.
%p
  Alors qu'il développe sa passion pour le Web, Paul Gruson se rend vite compte du besoin des utilisateurs d'obtenir des conseils sur un sujet.
  %br
  Il voit alors les blogs développer la structure de titre suivante : "10 conseils pour...". L'idée fait alors irruption dans sa tête, Paul décide d'acheter le nom de domaine "10conseilspour.fr" et il mettra 1 an à mettre sur papier le concept avant d'entamer le développement du site 10conseilspour.fr

%p
  Paul expose alors l'idée à Claudia, graphiste, qui se chargera du design du site internet pendant que Paul intégre et développe l'aspect fonctionnel du site.

%p
  Il aura fallut 2 années supplémentaires pour mettre en ligne cette version BETA du site.