%h1 Mentions légales

%h2 Directeur de publication & Hébergement
%p
  %strong Directeur de publication : Paul Gruson
%p
  %strong Hébergeur : OVH -
  2 rue Kellermann - 59100 Roubaix - France.

%h2 Responsabilité

%p
  10ConseilsPour comporte des informations mises à disposition par des personnes physiques et/ou morales externes ou encore des liens hypertextes vers d’autres sites Internet ou blogs qui n’ont pas été développés par 10ConseilsPour.
  %br
  Le contenu mis à disposition sur 10ConseilsPour est fourni à titre informatif. L’existence d’un lien de ce site vers un autre site Internet ne constitue pas une validation de ce site Internet ou de son contenu. Il appartient à l’internaute d’utiliser ces informations avec discernement et esprit critique. La responsabilité de 10ConseilsPour ne saurait être engagée du fait des informations, des opinions et des recommandations formulées par des tiers.
%p
  L’utilisation du site se fait à vos propres risques. Bien que 10ConseilsPour s’efforce d’assurer au mieux l’exactitude des informations diffusées, 10ConseilsPour ne peut garantir l’exactitude, la véracité ou la complétude des informations postées sur le site et/ou à propos des commentaires que ces informations peuvent susciter.
%p
  Par conséquent, 10ConseilsPour exclut toute responsabilité pour n’importe quel préjudice causé directement et/ou indirectement, de quelque façon que ce soit, du fait de l’utilisation du site. Notamment, 10ConseilsPour ne sera en aucun cas responsable d’un quelconque préjudice, causé par :

%ul
  %li des faits et actions des tiers ;
  %li l’impossibilité d’utiliser le site ;
  %li l’utilisation irrégulière du site et/ou des systèmes informatiques de 10ConseilsPour par un tiers.

%h2 Cookies

%p
  Afin d’améliorer et de personnaliser la navigation, des cookies peuvent être déposés sur votre ordinateur. Vous pouvez choisir de refuser ces cookies en paramettrant votre navigateur. Pour en savoir plus sur le fonctionnement des cookies, nous vous invitons à lire
  = link_to 'http://www.cnil.fr/vos-libertes/vos-traces/les-cookies/', target: "_blank" do
    cette page sur le site de la CNIL.

%h2 Propriété
%p
  L’ensemble de ce site est régi par la législation française sur le droit d’auteur et la propriété intellectuelle. Le contenu du site, incluant, de façon non limitative, les images, graphismes, textes, vidéos, logos, et icônes sont la propriété exclusive de la société 10ConseilsPour à l’exception des marques, logos ou contenus appartenant à d’autres sociétés partenaires ou auteurs.
%p
  La reproduction, la représentation, le transfert, la distribution, ou l’enregistrement de tout ou partie de ces éléments est formellement interdite sans l’autorisation expresse de 10ConseilsPour.

%h2 Déclaration CNIL

%p
  Ce site a fait l’objet d’une déclaration auprès de la CNIL sous le numéro 1847113. Les informations collectées sur 10ConseilsPour sont utilisées uniquement dans le cadre légal prévu en France pour le respect de la vie privée. 10ConseilsPour est le destinataires des données. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès, de rectification, de suppression des informations qui vous concernent, que vous pouvez exercer en vous adressant à p.gruson[at]gmail.com
%p
  Plus d’informations sur :
  = link_to 'http://www.cnil.fr', target: "_blank" do
    www.cnil.fr