.accounts, .users{
  .user{
    padding: 25px 0;
    img.avatar{
      width: 250px;
      height: 250px;
      border-radius: 100%;
      border: solid 3px #fff;
    }
    h1{
      text-align: left;
      margin: 0 0 20px;
    }
    .website{
      margin-bottom: 20px;
      display: block;
      a{
        color: #999;
        font-size: 20px;
        font-family: "menu";
      }
    }
  }
}