/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome/css/font-awesome
 *= require fonts
 *= require pages
 *= require advices
 *= require themes
 *= require_self
 */

 html{
  font-size:12px;
  line-height:15px;
 }

 body{
  background:url('ticks.png');
  position:relative;
  width:100%;
  padding:0;
  margin: 0 auto;
  font-family: "10cp";
  header{
    height:480px;
    width:100%;
    margin: 0 auto;
    background:url('bg_header.jpg');
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    .container{
      width: 1000px;
      height:480px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      .account{
        width: 150px;
        height: 55px;
        margin-right:-10px;
        line-height: 55px;
        text-align:center;
        a{
          font-family: "Menu";
          color:#767676;
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
          background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
          display:block;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          .fa{
            font-size: 20px;
            margin-right:5px;
          }
        }
      }
      nav{
        position:absolute;
        font-family: "Menu";

        width:980px;
        height: 60px;
        display:block;
        top:95px;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

        border:solid 1px #d4d4d4;
        border-radius: 5px;

        z-index:5;
        ul{
          li{
            padding:0 0 0 0 !important;
            float:left;
            a{
              color:#767676;
              font-size:16px;
              display:block;
              width:125px;
              line-height: 57px;
              text-align:center;
              font-family: "Menu";
            }
            a:hover{
              background:#fff;
              text-decoration:none;
              color:#4B5C68;
            }
          }
          li.logo{
            margin: -75px 0 0 0;
            a{
              padding: 50px 10px 0 10px;
              background:transparent url('bg_logo.png') left top no-repeat;
              width: 210px;
              height:210px;
              color:#fff;
              font-size: 32px;
              font-family: "Other";
              text-align:center;
              .dix{
                font-size:65px;
                line-height:40px;
                margin:0;
                width:100%%;
                display:block;

              }
              .conseils{
                width:100%%;
                margin:0;
                display:block;
                line-height:32px;
              }
              .pour{
                width:100%%;
                display:block;
                margin:0;
                line-height:30px;
              }
            }
            a:hover{
              color:#f5f5f5;
              text-decoration:none;
            }
          }
        }
      }
      .search{
        position:absolute;
        top: 230px;
        height:200px;

        width:980px;
        color:#fff;
        font-family: "Menu";
        .form{
          margin-top:20px;
          width:100%;
          text-align:center;
          span{
            font-size:70px;
            line-height:90px;
            display:block;
            z-index:10px;
            text-shadow:1px 1px 10px #000;
          }
          .input-icon input {
             padding-left: 55px !important;
          }
          .col-md-6{
            position:initial;
          }
          .input-icon i {
            color: #ccc;
            display: block;
            position: absolute;
            margin: 11px 2px 4px 10px;
            width: 16px;
            height: 16px;
            font-size: 25px;
            text-align: center;
          }

          .input-icon.right input {
             padding-left: 15px !important;
             padding-right: 55px !important;
          }

          .input-icon.right i {
             right: 280px;
             float: right;
          }
        }
      }
    }
  }
  .main{
    overflow:hidden;
    margin:0 auto 20px;
    width: 1000px;
    h1{
      text-align:center;
      font-family: "Other";
      color:#767676;
      border-bottom:none;
    }
    h1:before, h1:after{
      content: url(string.png);
      vertical-align: 25%;
      opacity:0.7;
      margin: 0 20px;

    }
  }
  footer{
    background: url('bg_footer.jpg') repeat-x top center #4b5b68;
    height:335px;
    padding-top: 30px;
    color:#fff;
    border-top: solid 1px #ccc;
    .container{
      width: 980px;
      height: 270px;
      margin: 0 auto;
      h4{
        font-family: "Menu";
      }
    }
    .bottom{
      width: 100%;
      background: #313c44;
      color: #fff;
      height: 35px;
      line-height: 35px;
      text-align: center;
    }
    ul{
      li{
        a{
          color:#fff;
          &:hover{
            color: #ccc;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.well{
  border-radius:0;
}