.most-visited{
  margin-bottom:10px;
  padding: 10px 0;
  overflow: hidden;
  display: block;
}
.subject{
  background: #fff;
  padding:10px 15px;
  color:#000;
  height:310px;
  position: relative;
  img.illustration{
    margin: -10px -15px 0;
  }
  img.icon{
    margin: -24px auto 0;
    display: block;
  }
  .subject-theme{
    display: block;
    margin: 5px 0;
    color: #666;
  }
  a{
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
    display:block;
    color: #fff;
    border-radius:0;
  }
}
.master-themes{
  overflow:hidden;
  margin-bottom:10px;
}
.theme{
  padding:10px 15px;
  margin: 30px 0 10px 0;
  color:#fff;
  height:150px;
  position:relative;
  h3{
    font-family: "Menu";
    text-align: center;
    color: #fff;
    text-shadow:1px 1px 10px #000;
    font-size: 30px;
  }
  a{
    margin: 40px auto 0;
    min-width: 50%;
    display: block;
    border-radius:5px;
  }
  span.icon{
    position: absolute;
    top: -29px;
    z-index: 10;
    left: 122px;
  }
}
.best-users{
  overflow:hidden;
  margin-bottom:20px;
  .user{
    .round{
      width:160px;
      height:160px;
      border-radius:100%;
      background:#d7d7d7;
      float:left;
      margin-right:50px;
      overflow: hidden;
      img{
        width:150px;
        height:150px;
        border-radius:100%;
        margin: 5px;
      }
    }
    .body{
      color: #4b5b68;
      .name{
        font-size: 28px;
        display: block;
        margin: 5px 0;
        font-family: "Menu";
        a{
          text-decoration: none;
        }
      }
      a{
        color: #4b5b68;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}
.home{
  .intro{
    p{
      font-size: 25px;
      text-align: center;
    }
  }
}