.most-visited{
  margin-bottom:10px;
  overflow:hidden;
}
.subject{
  background:#4b5b68;
  padding:10px 15px;
  color:#fff;
  height:250px;
  position: relative;
  a{
    position:absolute;
    bottom:5px;
    left:5px;
    right:5px;
    display:block;
    border-radius:0;
  }
}
.master-themes{
  overflow:hidden;
  margin-bottom:10px;
}
.theme{
  background:#4b5b68;
  padding:10px 15px;
  margin: 30px 0 10px 0;
  color:#fff;
  height:150px;
  position:relative;
  h3{
    font-family: "Menu";
    text-align: center;
    color: #fff;
    text-shadow:1px 1px 10px #000;
    font-size: 30px;
  }
  a{
    margin: 40px auto 0;
    min-width: 50%;
    display: block;
    border-radius:5px;
  }
  span.icon{
    position: absolute;
    top: -29px;
    z-index: 10;
    left: 122px;
  }
}
.best-users{
  overflow:hidden;
  margin-bottom:20px;
  .user{
    .round{
      width:150px;
      height:150px;
      border-radius:100%;
      background:#4b5b68;
      float:left;
      margin-right:30px;
    }
    .body{

    }
  }
}