.subjects{
  &.show{
    .description{
      background: #fff;
      display: block;
      overflow: hidden;
      position: relative;
      margin: -150px 0 20px 0;
      img{
        width: 25%;
        float: left;
      }
      .description-content{
        float: right;
        width: 75%;
        padding: 25px;
      }
    }
  }
}