.subjects{
  &.show{
    h1{
      font-family: '10cp';
      font-weight: 100;
      font-size: 20px;
      span.highlight{
        font-family: "menu";
        display: block;
        font-size: 40px;
      }
    }
    .description{
      padding: 15px 10px;
      margin-bottom: 10px;
      color: #888;
    }
  }
}