.themes{
  .subjects{
    .subject{
      height: auto;
      border: solid 1px #ccc;
      h2{
        margin: 0 0 5px 0;
        a{
          color: #000;
          position: relative;
        }
      }
    }
  }
}